a:link {
    color: $textColorDarkerBlue;
    text-decoration: none;
  }
  
  a:visited {
    color: $textColorDarkerBlue;
  }
  
  a:hover {
    color: $textColorDarkerBlue;
    text-decoration: underline;
  }
  
  a:active {
    color: $textColorDarkerBlue;
  }