$mainFontFamily: "Karla", helvetica, sans-serif;
$mainBackgroundColor:#4169E1;
$textColorDarkerBlue: #0e2741;
$textColorLighterBlue: #111E6C;
$boxDropShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$minWidthMobile: 360px;

