/*CSS*/

/*Google fonts:
<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
font-family: 'Karla';
*/


$mainFontFamily: "Karla", helvetica, sans-serif;
$mainBackgroundColor:#4169E1;
$textColorDarkerBlue: #111E6C;
//$textColorLighterBlue:
//$textColorGrey:


*  {

  box-sizing: border-box;
  /*margin: 0 auto;*/
  
  }


body {
color: white;
  background-color:#4169E1;
  //display: flex;
  //flex-direction: column;
  min-width: 360px;


}

h1 {

  font-family: $mainFontFamily;
  color: white;
  text-align: center;
  font-size: 3.5rem;

}

h2{

color: #111E6C;
font-family: $mainFontFamily;

}

h3{
  color: #111E6C;
  margin: 0.3em;

}


header{

margin-top: 150px;
margin-bottom: 100px;

}

.button {

color: #111E6C;
}

/*----Input from JS-----*/

#inputContainer {
display: flex;
flex-direction: column;
min-width: 360px;
max-width: 80%;
margin: 0 auto;
justify-content: left;
//color: white;
font-family: $mainFontFamily;



}

.jobRow {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-bottom: 0.8rem;
padding: 0 20px;
background-color: white;
color: 	#808080;

}

.jobRowTitle  {
  color: #111E6C;
  font-size: 1.5rem;

}

.jobRowWorkPlace  {
  margin: 0.5em;

}

.jobRowProfession {
  margin: 0.5em;
}

.jobRowFooter {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.jobRowCounty,
.jobRowPublished,
.jobRowLastApply  {
  margin: 0.5em;

}

.jobRowLabel  {

  font-weight: 900;


}

/*----Links-----*/

a:link {
  color: $textColorDarkerBlue;
}

a:visited {
  color: $textColorDarkerBlue;
}

a:hover {
  color: $textColorDarkerBlue;
}

a:active {
  color: $textColorDarkerBlue;
}

/*----MediaQ-----*/