/*CSS*/

/*Google fonts:
<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
font-family: 'Karla';
*/

*  {

  box-sizing: border-box;
  /*margin: 0 auto;*/
  
  }


body {

  background-color:#4169E1;
  height: 100vh;
  display: flex;
  flex-direction: column;


}

h1 {

  font-family: "Karla", helvetica, sans-serif;
  color: white;
  text-align: center;

}

h2{

color: Hex #111E6C;
font-family: "Karla";

}


.button {

color: #111E6C;
}
