@import "_variables";
@import "_jobRow";
@import "_links";

*  {

  box-sizing: border-box;
  
  }

body {
  color: white;
  background-color:$mainBackgroundColor;
  min-width: $minWidthMobile;
  max-width: 900px;
  margin: 0 auto;
}

h1 {

  font-family: $mainFontFamily;
  color: white;
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 75px;
  

}


header{

margin-top: 75px;
margin-bottom: 75px;

}

.logo{
width: 20%;
min-width: 160px;
max-width: 260px;
margin: 0 auto;
display: flex;

}

#getLink  {

display: flex;
flex-direction: column;
justify-content: center;
min-width: $minWidthMobile;
width: 80%;
margin: 0 auto;

}

input[type=text] {
  height: 50px;
  width: 80%;
  margin: 0.2em auto;
  font-family: $mainFontFamily;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  box-shadow: $boxDropShadow;
}

input[type=submit] {
  height: 50px;
  width: 80%;
  margin: 0.2em auto;
  font-family: $mainFontFamily;
  font-size: 1.5rem;
  text-align: center;
  background-color: $textColorDarkerBlue;
  color: white;
  border: none;
  box-shadow: $boxDropShadow;
}


.dropDownDiv {
margin-top: 0.8rem;

}

.dropDownMenus {
font-family: $mainFontFamily;
height: 50px;
text-align: center;
font-size: 1.5rem;
border: none;
display: flex;
flex-direction: inline;
justify-content: center;
min-width: $minWidthMobile;
width: 80%;
margin: 0.2em auto;
box-shadow: $boxDropShadow;
background-color: $textColorLighterBlue;
color: white;
}



/*----Input from JS-----*/

#inputContainer {
display: flex;
flex-direction: column;
justify-content: left;
min-width: $minWidthMobile;
max-width: 80%;
margin: 0 auto;
font-family: $mainFontFamily;

}

.nextPageButton{
  display: none;
}

